body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5; /* Gris clair pour le fond */
}

h1 {
    color: #333;
    background-color: #fff; /* Blanc pour le fond du titre */
    padding: 10px; /* Ajout de rembourrage pour le titre */
    border-radius: 5px; /* Coins arrondis pour le titre */
}

form {
    margin-top: 20px; /* Espacement du formulaire par rapport au titre */
}

label {
    display: block;
    margin-bottom: 5px; /* Espacement entre les étiquettes */
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; /* Espacement entre les champs de saisie */
    box-sizing: border-box; /* La largeur inclut la bordure et le rembourrage */
}

input[type="submit"] {
    background-color: #4caf50; /* Couleur de fond pour le bouton de soumission */
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; /* Blanc pour le fond de la table */
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img.image-clickable {
    cursor: pointer;
    width: 100px;
    height: auto;
    border-radius: 5px; /* Coins arrondis pour les images cliquables */
}

/* Ajout de styles pour l'effet de survol */
img.image-clickable:hover {
    opacity: 0.7;
}
